*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font {
    size: 62.5%;
  }
  overflow: hidden;

  body {
    height: 100vh;
    width: 100vw;

    #mainScreen {
      display: grid;
      grid-template-columns: 37% auto 37%;
      grid-template-rows: 100%;
      width: 100%;
      height: 100%;

      //   section {
      //     height: 100%;
      //     width: 100%;
      //     padding: 1rem;
      //     outline: 1px solid #000;
      //  }

      .team {
        background-color: #fff;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;

        h1 {
          width: auto;
          position: relative;
          top: 5vh;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #000;
        }

        .score {
          width: 100%;
          height: 15%;
          //   background-color: yellow;
        }

        .players {
          width: 100%;
          height: 85%;
          //   background-color: purple;
          border: 1px solid #000;
        }
      }

      #dashboard {
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-color: #fff;
        border: 1px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;

        #stopwatch {
          top: calc(100% - 1vh);
          width: 100%;
          height: 15vh;
          margin-bottom: 1rem;
          background-color: #f00;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3rem;
        }

        #controls {
          width: 100%;
          height: 100%;
          //   background-color: #f00;

          #dashButtons {
            width: 100%;
            height: 25%;
            background-color: #0f0;
            position: relative;
            top: 0;
            display: flex;
            flex-wrap: wrap;

            .button {
              width: 50%;
              height: 50%;
              border: 1px solid #000;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 2rem;
            }
          }
          #history {
            width: 100%;
            height: 75%;
            background-color: #00f;
            position: relative;
            bottom: 0;
          }
        }
      }
    }
  }
}
