// IMPORTS
@import '../sass/mixins';
@import '../sass/variables';
@import '../sass/animations';

// STYLING
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;

  main {
    width: 210mm;
    height: 297mm;
    padding: $printTopMargin $printSideMargin $printBottomMargin;
    margin: 50px 0 25px 0;
    background-color: white;
    box-shadow: 0 0 60px #000;

    #topContainer {
      @include flexStart;
      margin: 0 0 6mm 0;

      #associationContainer {
        #associationName {
          padding: 0 1mm;
          width: 80mm;
          background-color: $grayColor;
          border: 1px solid black;
          font: $h2 bold $highlightedFont;
        }
        #addressContainer {
          @include flexStart;
          flex-wrap: wrap;
          width: 30mm;
          font: $h3 $mainFont;
        }
      }

      #logo {
        width: 20mm;
        height: 20mm;
        // centered logo
        margin: 0 86mm 0 6mm;
      }
    }

    #title {
      @include flexCenter;
      background-color: black;
      color: white;
      letter-spacing: 8px;
      font: $h1 $highlightedFont;
      font-weight: 600;
      margin: 0 0 4mm 0;
    }

    #basicData {
      border: 1px solid black;
      margin: 0 0 6mm 0;
      @include flexStart;

      div {
        height: 11mm;
        width: 25mm;
        padding: $smallPadding;
        border-right: 1px solid black;
        font: $h3 $mainFont;
        color: $fontGray;
      }
      div:last-child {
        border-right: none;
      }
      #dateContent,
      #timeContent,
      #groupContent,
      #locationContent,
      #pitchContent,
      #matchNumberContent {
        text-align: center;
        font-size: 1.4rem;
        color: $fontGray2;
      }

      #location {
        width: 47.5mm;
      }
      #pitch {
        width: 47.5mm;
      }
    }

    #resultsMainContainer {
      @include flexCenterColumn;
      margin-bottom: 3mm;

      #resultsTitle {
        font: $h2 $highlightedFont;
      }

      #resultsContainer {
        @include flexStart;
        font: $h3 $mainFont;

        div {
          &:first-child,
          &:last-child {
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            width: 72mm;
            height: 10mm;
            padding-left: $smallPadding;

            &:first-child {
              border-left: 1px solid black;
            }
            &:last-child {
              border-right: 1px solid black;
            }
          }
        }

        #resultsData {
          div {
            padding: $smallPadding;
            height: 6mm;
            width: 48mm;
            border: 1px solid black;
            border-bottom: none;

            &:last-child {
              border-bottom: 1px solid black;
            }
          }
        }
      }
    }

    #playersMainContainer {
      @include flexStart;
      margin-bottom: 3mm;

      #homeTeam,
      #guestTeam {
        width: 95mm;
        height: 145mm;
        display: grid;
        grid-template-rows: 9mm auto 37mm;
        grid-template-areas:
          'placeholder'
          'players'
          'officials';
        border: 1px solid black;
      }

      #placeholderHome,
      #placeholderGuest {
        background-color: $grayColor;
        grid-area: placeholder;
        display: grid;
        grid-template-columns: 8mm 8mm 8mm auto 8mm 8mm 8mm;

        div {
          @include flexCenterColumn;
          font: $h4 $mainFont;
          border-bottom: 1px solid black;
          border-right: 1px solid black;

          &:last-child {
            border-right: none;
          }

          &:nth-child(4) {
            font: $h2 $mainFont;
          }

          .triangle {
            width: 0;
            height: 0;
            border-left: 1.5mm solid transparent;
            border-right: 1.5mm solid transparent;
            border-bottom: 3mm solid $greenCard;
          }
          .square {
            width: 3mm;
            height: 3mm;
            background-color: $yellowCard;
          }
          .circle {
            width: 3mm;
            height: 3mm;
            border-radius: 50%;
            background-color: $redCard;
          }
        }
      }

      #playersHome,
      #playersGuest {
        grid-area: players;
        grid-template-areas:
          repeat(18, 'player')
          'coach';
        border-bottom: 1px solid black;

        .player {
          grid-area: player;
          display: grid;
          grid-template-columns: 8mm 8mm 8mm auto 8mm 8mm 8mm;
          grid-template-rows: 5mm;
          border-bottom: 1px solid black;
          font: $h4 $mainFont;

          div {
            border-right: 1px solid black;
            font-size: $h2;

            @include flexCenter;

            &:last-child {
              border-right: none;
            }
          }
        }

        .coach {
          grid-area: coach;
          display: grid;
          grid-template-columns: 24mm auto;
          grid-template-rows: 5mm;
          font: $h3 $mainFont;
          color: $fontGray;

          h4 {
            border-right: 1px solid black;
            @include flexCenter;
          }

          @include textArea(100%, 100%);
          textarea {
            font-size: 1.4rem;
            color: $fontGray2;
          }
        }
      }

      #officialHome,
      #officialGuest {
        grid-area: officials;
        display: grid;
        grid-template-rows: repeat(4, 9mm);
        color: $fontGray;

        div {
          border-bottom: 1px solid black;
          font: $h3 $mainFont;
          padding: 0 $smallPadding;

          &:last-child {
            border-bottom: none;
          }
          @include textArea(100%, 50%);
          textarea {
            font-size: 1.2rem;
            color: $fontGray2;
          }
        }
      }

      #homeTeam {
        margin-right: 3mm;
      }
    }

    #scoreboardMainContainer {
      @include flexColumnStart;
      width: 192mm;
      border: 1px solid black;
      overflow: hidden;

      #scoreboardContainer {
        @include flexStart;

        .scoreboardTemplate {
          width: 63.9mm;
          display: grid;
          grid-template-areas:
            'scoreboardPlaceholder'
            'scoreboardData';
          border-right: 1px solid black;

          &:last-child {
            border-right: none;
          }

          .scoreboardPlaceholder {
            grid-area: scoreboardPlaceholder;
            display: grid;
            grid-template-columns: 17.6mm 10mm 8mm 8mm auto;
            background-color: $grayColor;

            div {
              border-bottom: 1px solid black;
              border-right: 1px solid black;
              font: $h3 $mainFont;
              padding-left: $smallPadding;

              &:last-child {
                border-right: 0px solid black;
              }
            }
          }
          .scoreboardData {
            grid-area: scoreboardData;
            display: grid;
            grid-template-rows: repeat(6, 5mm);

            &:last-child {
              border-right: none;
            }

            .scoreboardRow {
              border-bottom: 1px solid black;
              display: grid;
              grid-template-columns: 17.6mm 10mm 8mm 8mm auto;

              div {
                border-right: 1px solid black;
                font: $h3 $mainFont;

                &:last-child {
                  border-right: none;
                }
              }
            }
          }
        }
      }

      #scoreboardComments {
        height: 15mm;
        width: 100%;
        font: $h3 $mainFont;

        #comments {
          padding-left: $smallPadding;
        }

        #goalType {
          position: relative;
          left: 67mm;
          top: -3mm;
        }

        #commentsInputContainer {
          width: auto;
          height: 11mm;
          padding: 0 $smallPadding;
          position: relative;
          top: -3mm;

          @include textArea(100%, 100%);
        }
      }
    }
  }
}

button {
  margin: 25px;
  border: none;
  width: 10vw;
  height: 6vh;
  border-radius: 1rem;
  cursor: pointer;
  font: $h1 $mainFont;
  font-weight: 700;
  color: rgb(32, 32, 32);
  letter-spacing: 2px;
}

#printButton {
  background-color: $printButton;
}
#editButton {
  background: linear-gradient(45deg, $editButton, rgb(72, 226, 80));
  // border: 3px solid rgb(49, 163, 55);
}

// @media screen and (min-width: 3000px) {
//   html {
//     -moz-transform: scale(2);
//     zoom: 200%;
//   }
// }

@media print {
  body * {
    visibility: hidden;
    background: transparent;
  }
  #printForm,
  #printForm * {
    visibility: visible;
  }

  #printForm {
    margin: 0;
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
  }

  button {
    display: none !important;
  }
}
