// IMPORTS
@import '../sass/mixins';
@import '../sass/variables';
@import '../sass/animations';

#incompatible {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, $mainGreen, $lightestGreen);
  padding: 3rem 1rem;
  display: none;

  h1 {
    color: $fontWhite;
    font-size: clamp(1.8rem, 7vw, 4rem);
    text-align: center;
    margin-bottom: 5rem;
  }
  h2 {
    color: $mainBackground;
    font-size: clamp(0.9rem, 4vw, 2rem);
    text-align: center;
  }
}

body {
  background-color: $mainBackground;
  overflow-x: hidden;

  header {
    width: 100vw;
    height: 10vh;
    @include flexBetween;
    padding: 0 50px 0 20px;

    img {
      width: 50px;
      height: 50px;
      margin: auto 0;
    }

    .menuHamburger {
      width: 30px;
      height: 30px;
      @include flexColumnEvenly;
      background-color: $mainBackground;
      padding: 6px 3px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;

      &:active {
        box-shadow: 0 0 2px $mainBackground, 0 0 2px $shadowGray1,
          inset 6px 6px 9px $shadowGray1, inset -6px -6px 9px $shadowWhite;
      }

      .line {
        width: 80%;
        height: 15%;
        background-color: $shadowGray3;
        border-radius: 2px;
      }
    }
  }

  main {
    height: 90vh;
    width: 100vw;
    padding: 150px;
    @include flexStart;

    #welcomeText {
      margin: 3vh 0;
      position: absolute;
      top: 5vh;
      left: 50%;
      transform: translate(-50%, 0);
      animation: showUp 0.7s ease-out;

      h1 {
        // color: $mainGreen;
        background: linear-gradient(90deg, $mainGreen, $lightestGreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
      }
    }

    .box {
      @include flexCenterColumn;
      margin: 0 auto;
      width: 30rem;
      height: 30rem;
      border-radius: 20px;
      background-color: $mainBackground;
      box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
      cursor: pointer;
      transition: all 0.5s ease;
      animation: showUp 1s ease;

      a {
        width: 100%;
        height: 100%;
        @include flexColumnEvenly;
      }

      &:hover {
        transform: scale(1.1);
      }

      &:nth-child(3) {
        filter: brightness(0.9);
        cursor: pointer;
        pointer-events: none;
      }

      &:active {
        box-shadow: 0 0 2px $mainBackground, 0 0 2px $shadowGray1,
          inset 6px 6px 9px $shadowGray1, inset -6px -6px 9px $shadowWhite;
      }

      img {
        width: 50%;
        height: 50%;
        animation: elementFloatDown 0.5s ease backwards 1s;
      }

      h1 {
        font: 2rem $mainFont;
        position: relative;
        top: 20px;
        color: $fontGray;
        animation: elementFloatDown 0.5s ease backwards 1s;
      }
    }

    .unavailable {
      cursor: not-allowed;
      pointer-events: none;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: 5px 5px 7px $shadowGray2, -5px -5px 7px $shadowGray1;
    }
  }

  footer {
    @include flexCenterColumn;
    opacity: 0.6;
    margin: 10px 0;

    .flaticon {
      color: $fontGray;

      a {
        text-decoration: none;
        color: $fontGray;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  body {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {
  body > *:not(#incompatible) {
    display: none;
  }

  #incompatible {
    @include flexColumnEvenly;
  }
}
