// IMPORTS
@import '../sass/mixins';
@import '../sass/variables';
@import '../sass/animations';

#incompatible {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, $mainGreen, $lightestGreen);
  padding: 3rem 1rem;
  display: none;

  h1 {
    color: $fontWhite;
    font-size: clamp(1.8rem, 7vw, 4rem);
    text-align: center;
    margin-bottom: 5rem;
  }
  h2 {
    color: $mainBackground;
    font-size: clamp(0.9rem, 4vw, 2rem);
    text-align: center;
  }
}

body {
  overflow-x: hidden;

  #setUpWindowContainer {
    width: 100vw;
    height: auto;
    background-color: $mainBackground;
    @include flexColumnEvenly;

    & > * {
      animation: elementFloatDown 0.7s ease-in-out backwards;
    }

    & > section:not(#welcomeText) {
      margin: 2vh 0;

      h1 {
        text-align: center;
        font-size: 1.5rem;
        color: $mainGreen;
        letter-spacing: 2px;
        background: linear-gradient(90deg, $mainGreen, $lightestGreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    header {
      width: 100vw;
      height: 10vh;
      @include flexBetween;
      padding: 0 50px 0 20px;

      img {
        width: 50px;
        height: 50px;
        margin: auto 0;
      }

      .menuHamburger {
        width: 30px;
        height: 30px;
        @include flexColumnEvenly;
        background-color: $mainBackground;
        padding: 6px 3px;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;

        &:active {
          box-shadow: 0 0 2px $mainBackground, 0 0 2px $shadowGray1,
            inset 6px 6px 9px $shadowGray1, inset -6px -6px 9px $shadowWhite;
        }

        .line {
          width: 80%;
          height: 15%;
          background-color: $shadowGray3;
          border-radius: 2px;
        }
      }
    }

    #welcomeText {
      margin: 3vh 0;
      transform: translateY(-50%);
      animation: showUp 0.7s ease-in-out backwards;

      h1 {
        // color: $mainGreen;
        background: linear-gradient(90deg, $mainGreen, $lightestGreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
      }
    }

    #matchSetUpContainer {
      width: 95%;
      height: 15vh;
      @include flexStart;
      animation-delay: 0;

      #basicDataContainer {
        width: 80%;
        height: 100%;
        background-color: $mainBackground;
        border-radius: 20px;
        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
        padding: 10px;
        margin-right: 2vh;
        position: relative;
        @include flexEvenly;

        input {
          width: 12.5%;
          height: 50%;
          border: none;
          outline: none;
          background-color: $mainBackground;
          border-radius: 10px;
          box-shadow: inset 5px 5px 7px $shadowGray1,
            inset -5px -5px 7px $shadowWhite;
          padding: 5px;
          margin: 5px;
          color: $fontGray;
          text-align: center;

          &:nth-child(5),
          &:nth-child(6) {
            width: 20%;
          }
        }

        h1 {
          position: absolute;
          left: 50%;
          top: 5px;
          transform: translate(-50%, 0);
        }
      }

      #timeSettingsContainer {
        width: 20%;
        height: 100%;
        background-color: $mainBackground;
        border-radius: 20px;
        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
        padding: 10px;
        position: relative;
        @include flexEvenly;

        input[type='number'] {
          -moz-appearance: textfield;
          -webkit-appearance: textfield;
          appearance: textfield;
          margin: 0;
        }

        input {
          text-align: center;
          width: 20%;
          height: 50%;
          border: none;
          outline: none;
          background-color: $mainBackground;
          border-radius: 10px;
          box-shadow: inset 5px 5px 7px $shadowGray1,
            inset -5px -5px 7px $shadowWhite;
          margin: 0 auto;
          color: $fontGray;
          padding-left: 5px;

          &::placeholder {
            font-size: 1rem;
          }

          &:nth-of-type(1) {
            width: 60%;
          }
        }

        h1 {
          position: absolute;
          left: 50%;
          top: 5px;
          transform: translate(-50%, 0);
        }
      }
    }

    #officialsSetUpContainer {
      width: 95%;
      height: 15vh;
      background-color: $mainBackground;
      border-radius: 20px;
      box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
      padding: 10px;
      position: relative;
      @include flexEvenly;
      animation-delay: 0.5s;

      input {
        width: 20%;
        height: 50%;
        border: none;
        outline: none;
        background-color: $mainBackground;
        border-radius: 10px;
        box-shadow: inset 5px 5px 7px $shadowGray1,
          inset -5px -5px 7px $shadowWhite;
        padding: 5px;
        margin: 5px;
        color: $fontGray;
        text-align: center;
      }

      h1 {
        position: absolute;
        left: 50%;
        top: 5px;
        transform: translate(-50%, 0);
      }
    }

    #teamSetUpContainer {
      width: 95%;
      height: auto;
      @include flexStart;

      .teamSetUp {
        width: 49%;
        height: 100%;
        background-color: $mainBackground;
        border-radius: 20px;
        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
        // margin: 0 auto;
        padding: 10px;
        position: relative;
        @include flexColumnEvenly;

        &:first-child {
          margin-right: 2%;
        }

        .teamContainer {
          width: 100%;
          height: 90%;
          @include flexColumnStart;
        }

        .coachesContainer {
          width: 100%;
          height: 5%;
          @include flexEvenly;

          input {
            width: 50%;
            height: 70%;
            border: none;
            outline: none;
            background-color: $mainBackground;
            border-radius: 10px;
            box-shadow: inset 5px 5px 7px $shadowGray1,
              inset -5px -5px 7px $shadowWhite;
            padding: 5px;
            margin: 5px;
            color: $fontGray;
            text-align: center;

            &::placeholder {
              font-size: 1.2rem;
            }
          }
        }

        &:first-child {
          animation: elementFloatRight 1.5s ease-out backwards 1s;
        }
        &:last-child {
          animation: elementFloatLeft 1.5s ease-out backwards 1s;
        }

        .addTeam {
          width: 200px;
          height: 60px;
          border: none;
          outline: none;
          background-color: $mainBackground;
          background: linear-gradient(90deg, $mainGreen, $lightestGreen);
          border-radius: 20px;
          box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
          margin: 10% auto;
          padding: 10px;
          // position: absolute;
          // left: 50%;
          // top: 50%;
          // transform: translate(-50%, -50%);
          color: $fontWhite;
          font-size: 1.5rem;
          font-weight: bold;
          transition: all 0.3s ease-out;
          cursor: pointer;

          &:hover {
            filter: brightness(1.3);
            transform: scale(1.05);
          }
        }
      }
    }

    #closeButton {
      width: 200px;
      height: 60px;
      border: none;
      outline: none;
      background-color: $mainBackground;
      background: linear-gradient(90deg, $mainGreen, $lightestGreen);
      border-radius: 20px;
      box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
      margin: 50px 0;
      padding: 10px;
      color: $fontWhite;
      font-size: 1.5rem;
      font-weight: bold;
      animation-delay: 1.5s;
      transition: all 0.3s ease-out;
      cursor: pointer;

      &:hover {
        filter: brightness(1.3);
        transform: scale(1.05);
      }
    }
  }

  main {
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @include flexStartCenter;
    display: none;

    // SECTION COMMON STYLES
    & > section {
      padding: 2rem;
      height: 100vh;
      width: 36%;
      background-color: $mainBackground;
      @include flexColumnBetween;

      &:nth-child(2) {
        box-shadow: 0 0 20px 10px $shadowGray1;
        z-index: 10;
        width: 28%;
      }
    }

    #dashboardContainer {
      & > * {
        border-radius: 20px;
        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
      }
      // DASHBOARD
      #stopwatch {
        width: 100%;
        height: auto;
        @include flexEvenly;

        h1 {
          font-size: 5rem;
          font-size: clamp(1rem, 5vw, 5rem);
          font-weight: bold;
          letter-spacing: 5px;
          color: $fontGray2;
          margin: 0 7px;
        }

        button {
          border: none;
          outline: none;
          width: 30px;
          height: 30px;
          cursor: pointer;
          border-radius: 50%;
          color: $fontGray;
          font-size: 2rem;
          transition: all 0.22s ease-out;
          @include flexCenter;

          &:first-child {
            background-color: $startButton;
          }
          &:last-child {
            background-color: $stopButton;
          }
          &:hover {
            filter: brightness(1.2);
          }
        }
      }

      #dashboard {
        width: 100%;
        height: 80%;
        @include flexColumnStart;

        #buttons {
          width: 100%;
          height: 23%;
          @include flexStart;
          flex-wrap: wrap;
          z-index: 10;
          position: relative;

          button {
            width: 50%;
            height: 50%;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: clamp(0.5rem, 1vw, 1.6rem);
            font-weight: bold;
            letter-spacing: 5px;
            color: $fontGray2;
            transition: all 0.22s ease-out;

            &:hover {
              filter: brightness(1.2);
            }

            &:nth-child(1) {
              border-radius: 20px 0 0 0;
              background-color: $startButton;
            }
            &:nth-child(2) {
              border-radius: 0 20px 0 0;
              background-color: $stopButton;
            }
            &:nth-child(3) {
              box-shadow: 0px 10px 15px -5px $shadowGray2;
            }
            &:nth-child(4) {
              box-shadow: 0px 10px 15px -5px $shadowGray2;
            }
          }

          #goalTypeContainer,
          #cardTypeContainer {
            width: 50%;
            height: 50%;
            background-color: rgba($color: #000000, $alpha: 0.3);
            display: none;
            position: absolute;
          }

          #goalTypeContainer {
            left: 0;
            bottom: 0;
          }
          #cardTypeContainer {
            right: 0;
            bottom: 0;
          }
        }

        #history {
          width: 100%;
          height: 100%;
          padding: 1rem;

          .periodStart {
            width: 100%;
            height: 20px;
            background-color: $startButton;
          }
        }
      }
    }

    #homeTeam,
    #guestTeam {
      @include flexColumnBetween;
      position: relative;

      .backgroundContainer {
        background: linear-gradient(
          180deg,
          rgba(43, 43, 43, 0.2) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        width: 100%;
        height: 100%;
      }

      .scoreContainer,
      .playersContainer {
        background-color: $mainBackground;
        border-radius: 20px;
        z-index: 10;
        @include flexColumnEvenly;
        color: $fontGray2;

        .teamName {
          font-size: 1.6rem;
        }
        .teamScore {
          font-size: 3rem;
        }
      }

      .scoreContainer {
        width: 80%;
        height: 12%;
        box-shadow: 0 0 10px 1px $shadowGray3;
      }
      .playersContainer {
        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
        width: 100%;
        height: 80%;
      }
    }

    #homeTeam {
      #backgroundContainerHome {
        position: absolute;
        left: 0;
        top: 0;
        mask-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 1) 0%,
          transparent 30%
        );

        #image {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          // background-image: url('../../img/HKMT_logo.gif');
          // background-size: 50%;
          // background-repeat: no-repeat;
          background: url('../../img/HKMT_logo.gif') no-repeat;
          background-size: 100%;
          z-index: 10;
        }
      }
    }
    #guestTeam {
      #backgroundContainerGuest {
        position: absolute;
        left: 0;
        top: 0;
        mask-image: linear-gradient(
          180deg,
          rgba(0, 0, 0, 1) 0%,
          transparent 30%
        );

        #image {
          position: absolute;
          width: 100%;
          height: 100%;
          right: 0;
          top: 0;
          // background-image: url('../../img/HKMT_logo.gif');
          // background-size: 50%;
          // background-repeat: no-repeat;
          background: url('../../img/HKL_logo.png') no-repeat;
          background-size: 100%;
          z-index: 10;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #setUpWindowContainer,
  main {
    display: none;
  }

  #incompatible {
    @include flexColumnEvenly;
  }
}
