@import '../sass/mixins';
@import '../sass/variables';
@import '../sass/animations';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Helvetica;
  font-weight: 700;
  @include flexStart;
  color: $fontGray;
  background-color: $mainBackground;
  transition: all 0.5s;

  #formContainer {
    margin: auto auto;
    width: 23vw;
    height: 65vh;
    background-color: $mainBackground;
    box-shadow: 13px 13px 20px $shadowGray1, -13px -13px 20px $shadowWhite;
    padding: 30px 15px 15px 15px;
    border-radius: 20px;
    animation: showUp 1s ease-out;

    #logo {
      background: url('../../img/ZHNTS_logo.png') center;
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto;
      box-shadow: 0 0 2px $shadowGray3, 0 0 0 5px $mainBackground,
        8px 8px 15px $shadowGray2, -8px -8px 15px #fff;
    }

    #title {
      text-align: center;
      font-size: 28px;
      padding-top: 24px;
      letter-spacing: 0.5px;

      // color: $mainGreen;
      background: linear-gradient(180deg, $mainGreen, $lightestGreen);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3rem;
      text-align: center;
    }

    #subtitle {
      text-align: center;
      font-size: 15px;
      padding-top: 7px;
      letter-spacing: 3px;
    }

    #fields {
      width: 100%;
      padding: 35px 5px 5px 5px;

      input {
        width: 90%;
        border: none;
        outline: none;
        background: none;
        font-size: 1.3rem;
        color: $fontGray;
        padding: 10px 5px 10px 5px;
      }

      .email,
      .password {
        @include flexStartCenter;
        margin-bottom: 20px;
        border-radius: 20px;
        box-shadow: inset 8px 8px 8px $shadowGray1,
          inset -8px -8px 8px $shadowWhite;
      }

      #resetEmailNotification {
        width: 100%;
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 1rem;
        display: none;
        transition: display 0.5s ease-out;
        color: $mainGreen;
      }

      svg {
        height: 20px;
        margin: auto 0 auto 10px;
      }

      #loginButton,
      #sendButton {
        outline: none;
        border: none;
        cursor: pointer;
        width: 100%;
        height: 40px;
        border-radius: 20px;
        font-size: 1.3rem;
        font-weight: 700;
        font-family: Helvetica;
        color: $fontWhite;
        text-align: center;
        background: linear-gradient(90deg, $mainGreen, $lighterGreen);
        box-shadow: 3px 3px 8px $shadowGray1, -3px -3px 8px $shadowWhite;
        transition: all 0.3s ease-out;

        &:hover {
          filter: brightness(1.5);
        }
      }

      #sendButton {
        display: none;
      }

      #links {
        padding-top: 20px;
        text-align: center;

        button {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
          color: $fontLightGray;
          font-size: 1.1rem;
        }
      }
    }
    #logo,
    #title,
    #subtitle,
    .email,
    .password,
    #loginButton,
    #links {
      animation: elementFloatDown 1s backwards 1s;
    }
  }

  #backgroundContainer {
    padding: 20px;
    width: 50vw;
    height: 100vh;
    // @include flexColumnStart;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(
      120deg,
      rgb(21, 39, 21) 0%,
      rgb(37, 68, 37) 100%
    );

    h1 {
      font-size: 80px;
      //   margin-bottom: 100px;
      //   margin-top: 100px;
      color: #ecf0f3;
      font-weight: 600;
    }

    p {
      font-size: 30px;
      color: #ecf0f3;
      font-weight: 400;
      text-align: center;
      //   margin-bottom: 80px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  body {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 768) {
  body {
    // visibility: hidden;
    background-color: #000000;
  }
}
