// IMPORTS
@import '../sass/mixins';
@import '../sass/variables';
@import '../sass/animations';

#incompatible {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, $mainGreen, $lightestGreen);
  padding: 3rem 1rem;
  display: none;

  h1 {
    color: $fontWhite;
    font-size: clamp(1.8rem, 7vw, 4rem);
    text-align: center;
    margin-bottom: 5rem;
  }
  h2 {
    color: $mainBackground;
    font-size: clamp(0.9rem, 4vw, 2rem);
    text-align: center;
  }
}

body {
  background-color: $mainBackground;
  overflow-x: hidden;

  header {
    width: 100vw;
    height: 10vh;
    @include flexBetween;
    padding: 0 50px 0 20px;

    img {
      width: 50px;
      height: 50px;
      margin: auto 0;
    }

    .menuHamburger {
      width: 30px;
      height: 30px;
      @include flexColumnEvenly;
      background-color: $mainBackground;
      padding: 6px 3px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;

      &:active {
        box-shadow: 0 0 2px $mainBackground, 0 0 2px $shadowGray1,
          inset 6px 6px 9px $shadowGray1, inset -6px -6px 9px $shadowWhite;
      }

      .line {
        width: 80%;
        height: 15%;
        background-color: $shadowGray3;
        border-radius: 2px;
      }
    }
  }

  main {
    width: 85vw;
    height: 88vh;
    background-color: $mainBackground;
    border-radius: 20px;
    box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, 0);
    @include flexStart;

    & > section {
      padding: 10px;
    }

    #addUserContainer {
      width: 50%;
      height: 100%;
      @include flexColumnEvenly;

      h1 {
        // color: $mainGreen;
        background: linear-gradient(90deg, $mainGreen, $lightestGreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3rem;
        text-align: center;
      }

      input {
        border: none;
        outline: none;
        background: $mainBackground;
        color: $fontGray;
        border-radius: 20px;
        box-shadow: inset 8px 8px 8px $shadowGray1,
          inset -8px -8px 8px $shadowWhite;
        padding-left: 10px;
        height: 30px;
        width: 200px;
        animation: elementFloatDown 0.5s ease backwards 0.5s;

        &[type='date'] {
          font-family: 'Poppins';
          color: $fontGray;
        }
      }

      select {
        width: 200px;
        height: 30px;
        background-color: $mainBackground;
        border: none;
        outline: none;
        border-radius: 20px;
        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
        padding-left: 10px;
        color: $fontGray;
        text-align: center;
        margin-right: 15px;
        animation: elementFloatDown 0.5s ease backwards 0.5s;
      }

      button {
        width: 30%;
        height: 7%;
        border: none;
        outline: none;
        background: linear-gradient(90deg, $mainGreen, $lightestGreen);
        border-radius: 20px;
        color: $fontWhite;
        cursor: pointer;
        transition: all 0.5s ease;
        font-weight: 700;

        box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
        animation: elementFloatDown 0.5s ease backwards 0.5s;

        &:hover {
          filter: brightness(1.3);
          transform: scale(1.05);
        }
      }

      & > input,
      & > select {
        width: 60%;
      }
    }

    #tableMainContainer {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      #tableLegend {
        width: 100%;
        @include flexStart;

        & > * {
          width: 25%;
          color: $fontGray;
        }
      }

      #tableContainer {
        width: 100%;
        height: 90%;
        box-shadow: inset 5px 5px 7px $shadowGray1,
          inset -5px -5px 7px $shadowWhite;
        border-radius: 20px;

        #table {
          width: 100%;
          height: 100%;
          tbody {
            height: 25px;
            display: block;
            &:first-child {
              margin-top: 10px;
            }
          }

          tr {
            width: auto;
            // height: 25px;
            display: block;
            border-radius: 20px;
            margin: 0 10px;
            animation: elementFloatDown 1s ease backwards
              calc(var(--index) * 0.055s);
            @include flexStartCenter;

            td {
              padding-left: 10px;
              margin: 10px;
            }
          }
        }
        .green {
          // background-color: $mainGreen;
          box-shadow: 2px 2px 2px $shadowGray1;
          background: linear-gradient(150deg, $mainGreen, $lighterGreen);
          color: $fontWhite;
          height: 100%;
        }

        .white {
          // background-color: $mainBackground;
          background-color: transparent;
          color: $fontGray;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body > *:not(#incompatible) {
    display: none;
  }

  #incompatible {
    @include flexColumnEvenly;
  }
}
