@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  font-size: 62.5%;
  font-family: 'Poppins';
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes addPlayerAnimation {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
  }
}

@keyframes addPlayerAnimation {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
  }
}

@-webkit-keyframes elementFloatDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes elementFloatDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes middleOut {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes middleOut {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  width: 210mm;
  height: 297mm;
  padding: 7mm 9mm 14mm;
  margin: 50px 0 25px 0;
  background-color: white;
  -webkit-box-shadow: 0 0 60px #000;
          box-shadow: 0 0 60px #000;
}

body main #topContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 6mm 0;
}

body main #topContainer #associationContainer #associationName {
  padding: 0 1mm;
  width: 80mm;
  background-color: #d8d8d8;
  border: 1px solid black;
  font: 0.95rem bold Helvetica, Arial, sans-serif;
}

body main #topContainer #associationContainer #addressContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 30mm;
  font: 0.8rem "Poppins", Helvetica, Arial;
}

body main #topContainer #logo {
  width: 20mm;
  height: 20mm;
  margin: 0 86mm 0 6mm;
}

body main #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  color: white;
  letter-spacing: 8px;
  font: 2rem Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 0 0 4mm 0;
}

body main #basicData {
  border: 1px solid black;
  margin: 0 0 6mm 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main #basicData div {
  height: 11mm;
  width: 25mm;
  padding: 0.5mm;
  border-right: 1px solid black;
  font: 0.8rem "Poppins", Helvetica, Arial;
}

body main #basicData div:last-child {
  border-right: none;
}

body main #basicData #location {
  width: 47.5mm;
}

body main #basicData #pitch {
  width: 47.5mm;
}

body main #resultsMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3mm;
}

body main #resultsMainContainer #resultsTitle {
  font: 0.95rem Helvetica, Arial, sans-serif;
}

body main #resultsMainContainer #resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font: 0.8rem "Poppins", Helvetica, Arial;
}

body main #resultsMainContainer #resultsContainer div:first-child, body main #resultsMainContainer #resultsContainer div:last-child {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 72mm;
  height: 10mm;
  padding-left: 0.5mm;
}

body main #resultsMainContainer #resultsContainer div:first-child:first-child, body main #resultsMainContainer #resultsContainer div:last-child:first-child {
  border-left: 1px solid black;
}

body main #resultsMainContainer #resultsContainer div:first-child:last-child, body main #resultsMainContainer #resultsContainer div:last-child:last-child {
  border-right: 1px solid black;
}

body main #resultsMainContainer #resultsContainer #resultsData div {
  padding: 0.5mm;
  height: 6mm;
  width: 48mm;
  border: 1px solid black;
  border-bottom: none;
}

body main #resultsMainContainer #resultsContainer #resultsData div:last-child {
  border-bottom: 1px solid black;
}

body main #playersMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 3mm;
}

body main #playersMainContainer #homeTeam,
body main #playersMainContainer #guestTeam {
  width: 95mm;
  height: 145mm;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 9mm auto 37mm;
      grid-template-rows: 9mm auto 37mm;
      grid-template-areas: 'placeholder' 'players' 'officials';
  border: 1px solid black;
}

body main #playersMainContainer #placeholderHome,
body main #playersMainContainer #placeholderGuest {
  background-color: #d8d8d8;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: placeholder;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8mm 8mm 8mm auto 8mm 8mm 8mm;
      grid-template-columns: 8mm 8mm 8mm auto 8mm 8mm 8mm;
}

body main #playersMainContainer #placeholderHome div,
body main #playersMainContainer #placeholderGuest div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 0.65rem "Poppins", Helvetica, Arial;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

body main #playersMainContainer #placeholderHome div:last-child,
body main #playersMainContainer #placeholderGuest div:last-child {
  border-right: none;
}

body main #playersMainContainer #placeholderHome div:nth-child(4),
body main #playersMainContainer #placeholderGuest div:nth-child(4) {
  font: 0.95rem "Poppins", Helvetica, Arial;
}

body main #playersMainContainer #placeholderHome div .triangle,
body main #playersMainContainer #placeholderGuest div .triangle {
  width: 0;
  height: 0;
  border-left: 1.5mm solid transparent;
  border-right: 1.5mm solid transparent;
  border-bottom: 3mm solid #169b00;
}

body main #playersMainContainer #placeholderHome div .square,
body main #playersMainContainer #placeholderGuest div .square {
  width: 3mm;
  height: 3mm;
  background-color: #fff735;
}

body main #playersMainContainer #placeholderHome div .circle,
body main #playersMainContainer #placeholderGuest div .circle {
  width: 3mm;
  height: 3mm;
  border-radius: 50%;
  background-color: #ff3636;
}

body main #playersMainContainer #playersHome,
body main #playersMainContainer #playersGuest {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: players;
      grid-template-areas: repeat(18, "player") "coach";
  border-bottom: 1px solid black;
}

body main #playersMainContainer #playersHome .player,
body main #playersMainContainer #playersGuest .player {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: player;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8mm 8mm 8mm auto 8mm 8mm 8mm;
      grid-template-columns: 8mm 8mm 8mm auto 8mm 8mm 8mm;
  -ms-grid-rows: 5mm;
      grid-template-rows: 5mm;
  border-bottom: 1px solid black;
  font: 0.65rem "Poppins", Helvetica, Arial;
}

body main #playersMainContainer #playersHome .player div,
body main #playersMainContainer #playersGuest .player div {
  border-right: 1px solid black;
}

body main #playersMainContainer #playersHome .player div:last-child,
body main #playersMainContainer #playersGuest .player div:last-child {
  border-right: none;
}

body main #playersMainContainer #playersHome .coach,
body main #playersMainContainer #playersGuest .coach {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: coach;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24mm auto;
      grid-template-columns: 24mm auto;
  -ms-grid-rows: 5mm;
      grid-template-rows: 5mm;
  font: 0.8rem "Poppins", Helvetica, Arial;
}

body main #playersMainContainer #playersHome .coach h4,
body main #playersMainContainer #playersGuest .coach h4 {
  border-right: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #playersMainContainer #playersHome .coach textarea,
body main #playersMainContainer #playersGuest .coach textarea {
  padding: 0 0.5mm;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font: 0.95rem "Poppins", Helvetica, Arial;
  overflow: hidden;
}

body main #playersMainContainer #playersHome .coach textarea:focus,
body main #playersMainContainer #playersGuest .coach textarea:focus {
  outline: none;
}

body main #playersMainContainer #officialHome,
body main #playersMainContainer #officialGuest {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: officials;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (9mm)[4];
      grid-template-rows: repeat(4, 9mm);
}

body main #playersMainContainer #officialHome div,
body main #playersMainContainer #officialGuest div {
  border-bottom: 1px solid black;
  font: 0.8rem "Poppins", Helvetica, Arial;
  padding: 0 0.5mm;
}

body main #playersMainContainer #officialHome div:last-child,
body main #playersMainContainer #officialGuest div:last-child {
  border-bottom: none;
}

body main #playersMainContainer #officialHome div textarea,
body main #playersMainContainer #officialGuest div textarea {
  padding: 0 0.5mm;
  width: 100%;
  height: 50%;
  border: none;
  resize: none;
  font: 0.95rem "Poppins", Helvetica, Arial;
  overflow: hidden;
}

body main #playersMainContainer #officialHome div textarea:focus,
body main #playersMainContainer #officialGuest div textarea:focus {
  outline: none;
}

body main #playersMainContainer #homeTeam {
  margin-right: 3mm;
}

body main #scoreboardMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 192mm;
  border: 1px solid black;
  overflow: hidden;
}

body main #scoreboardMainContainer #scoreboardContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate {
  width: 63.9mm;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'scoreboardPlaceholder' 'scoreboardData';
  border-right: 1px solid black;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate:last-child {
  border-right: none;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardPlaceholder {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: scoreboardPlaceholder;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17.6mm 10mm 8mm 8mm auto;
      grid-template-columns: 17.6mm 10mm 8mm 8mm auto;
  background-color: #d8d8d8;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardPlaceholder div {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font: 0.8rem "Poppins", Helvetica, Arial;
  padding-left: 0.5mm;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardPlaceholder div:last-child {
  border-right: 0px solid black;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardData {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: scoreboardData;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (5mm)[6];
      grid-template-rows: repeat(6, 5mm);
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardData:last-child {
  border-right: none;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardData .scoreboardRow {
  border-bottom: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 17.6mm 10mm 8mm 8mm auto;
      grid-template-columns: 17.6mm 10mm 8mm 8mm auto;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardData .scoreboardRow div {
  border-right: 1px solid black;
  font: 0.8rem "Poppins", Helvetica, Arial;
}

body main #scoreboardMainContainer #scoreboardContainer .scoreboardTemplate .scoreboardData .scoreboardRow div:last-child {
  border-right: none;
}

body main #scoreboardMainContainer #scoreboardComments {
  height: 15mm;
  width: 100%;
  font: 0.8rem "Poppins", Helvetica, Arial;
}

body main #scoreboardMainContainer #scoreboardComments #comments {
  padding-left: 0.5mm;
}

body main #scoreboardMainContainer #scoreboardComments #goalType {
  position: relative;
  left: 67mm;
  top: -3mm;
}

body main #scoreboardMainContainer #scoreboardComments #commentsInputContainer {
  width: auto;
  height: 11mm;
  padding: 0 0.5mm;
  position: relative;
  top: -3mm;
}

body main #scoreboardMainContainer #scoreboardComments #commentsInputContainer textarea {
  padding: 0 0.5mm;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font: 0.95rem "Poppins", Helvetica, Arial;
  overflow: hidden;
}

body main #scoreboardMainContainer #scoreboardComments #commentsInputContainer textarea:focus {
  outline: none;
}

button {
  margin: 25px;
  border: none;
  width: 10vw;
  height: 6vh;
  border-radius: 1rem;
  cursor: pointer;
  font: 2rem "Poppins", Helvetica, Arial;
  font-weight: 700;
  color: #202020;
  letter-spacing: 2px;
}

#printButton {
  background-color: #2c9ef5;
}

#editButton {
  background: linear-gradient(45deg, #3fcc46, #48e250);
}

@media screen and (min-width: 3000px) {
  html {
    -moz-transform: scale(2);
  }
}

@media print {
  body * {
    visibility: hidden;
    background: transparent;
  }
  #printForm,
  #printForm * {
    visibility: visible;
  }
  #printForm {
    margin: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  button {
    display: none !important;
  }
}
/*# sourceMappingURL=zapisnik-tisk.css.map */