// IMPORTS
@import '../sass/mixins';
@import '../sass/variables';
@import '../sass/animations';

#incompatible {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, $mainGreen, $lightestGreen);
  padding: 3rem 1rem;
  display: none;

  h1 {
    color: $fontWhite;
    font-size: clamp(1.8rem, 7vw, 4rem);
    text-align: center;
    margin-bottom: 5rem;
  }
  h2 {
    color: $mainBackground;
    font-size: clamp(0.9rem, 4vw, 2rem);
    text-align: center;
  }
}

body {
  background-color: $mainBackground;
  overflow-x: hidden;
  @include flexColumnStart;

  header {
    width: 100vw;
    height: 10vh;
    @include flexBetween;
    padding: 0 50px 0 20px;

    img {
      width: 50px;
      height: 50px;
      margin: auto 0;
    }

    .menuHamburger {
      width: 30px;
      height: 30px;
      @include flexColumnEvenly;
      background-color: $mainBackground;
      padding: 6px 3px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;

      &:active {
        box-shadow: 0 0 2px $mainBackground, 0 0 2px $shadowGray1,
          inset 6px 6px 9px $shadowGray1, inset -6px -6px 9px $shadowWhite;
      }

      .line {
        width: 80%;
        height: 15%;
        background-color: $shadowGray3;
        border-radius: 2px;
      }
    }
  }

  main {
    width: 80vw;
    height: 95vh;
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, 0);

    #table {
      width: 100%;
      height: 100%;

      #searchFunctions {
        width: 100%;
        height: 5%;
        margin-bottom: 20px;
        @include flexStart;

        #searchBar {
          width: 70%;
          height: 100%;
          background-color: $mainBackground;
          border-radius: 20px;
          box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
          padding-left: 10px;
          margin-right: 15px;
          @include flexStart;
          animation: showUp 1s ease;

          svg {
            width: 20px;
            height: 20px;
            margin: auto 0;
            fill: $fontGray;
            animation: showUp 1s ease;
          }

          input {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: none;
            outline: none;
            background: transparent;
            padding: 0 10px;
            color: $fontGray;
          }
        }

        select {
          width: 40%;
          height: 100%;
          background-color: $mainBackground;
          border: none;
          outline: none;
          border-radius: 20px;
          box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
          padding-left: 10px;
          color: $fontGray;
          text-align: center;
          margin-right: 15px;
          animation: showUp 1s ease;

          &:last-of-type {
            width: 15%;
          }

          option {
            background-color: $mainBackground;
            outline: none;
            border: none;
            border-radius: 0 0 20px 20px;
          }
        }

        button {
          width: 20%;
          height: 100%;
          border: none;
          outline: none;
          background: linear-gradient(90deg, $mainGreen, $lightestGreen);
          border-radius: 20px;
          color: $fontWhite;
          cursor: pointer;
          transition: all 0.5s ease;
          font-weight: 700;
          font-size: clamp(0.7rem, 1vw, 1.3rem);
          animation: showUp 1s ease;
          box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;

          &:hover {
            filter: brightness(1.3);
            transform: scale(1.05);
          }
        }
      }

      #filtersContainer {
        width: 100%;
        height: 5%;
        margin-bottom: 20px;

        #filter {
          width: 100%;
          height: 100%;
          @include flexStartCenter;

          .filterButton {
            @include flexEvenly;
            color: $fontGray;
            font-size: clamp(0.7rem, 1vw, 1.3rem);
            font-weight: 700;
            margin: 0 auto;
            width: 15%;
            height: 100%;
            background-color: $mainBackground;
            border-radius: 20px;
            box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
            cursor: pointer;
            animation: showUp 1s ease backwards 0.5s;
            transition: all 0.2s ease-out;

            &:active {
              box-shadow: 0 0 2px $mainBackground, 0 0 2px $shadowGray1,
                inset 6px 6px 9px $shadowGray1, inset -6px -6px 9px $shadowWhite;
            }

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }

            .down {
              display: block;
              width: 10px;
              height: 10px;
              border-bottom: 2px solid $fontGray;
              border-right: 2px solid $fontGray;
              transform: rotate(45deg);
              transition: width, height 0.2s ease-out;
            }
            .up {
              display: block;
              width: 10px;
              height: 10px;
              border-bottom: 2px solid $fontGray;
              border-right: 2px solid $fontGray;
              transform: rotate(-135deg);
              transition: all 0.2s ease-out;
            }
            .none {
              width: 15px;
              height: 2px;
              background: transparent;
              transition: width 0.2s ease-out;

              &::before,
              &::after {
                content: '';
                display: block;
                border-radius: 20px;
                width: inherit;
                height: inherit;
                background-color: $fontGray;
              }
              &::after {
                transform: rotate(-45deg) translate(0px, -2.5px);
              }
              &::before {
                transform: rotate(45deg) translate(-1px, 1px);
              }
            }
          }
        }
      }

      #tableMainContainer {
        width: 100%;
        height: 82%;
        margin-bottom: 20px;
        box-shadow: 5px 5px 10px $shadowGray1, -5px -5px 10px $shadowWhite;
        overflow: auto;
        border-radius: 20px;
        scrollbar-width: none;
        -ms-overflow-style: none;
        animation: elementFloatDown 1s ease backwards;

        &::-webkit-scrollbar {
          display: none;
        }

        #legendContainer {
          width: 100%;
          height: 5%;
          background-color: $mainBackground;
          box-shadow: 0 9px 10px -4px $shadowGray2;
          border-radius: 20px 20px 0 0;
          position: fixed;
          overflow: hidden;

          #legend {
            width: 100%;
            height: 100%;
            @include flexStart;
            padding: 0 10px;

            div {
              padding-left: 10px;
              height: 100%;
              @include flexStartCenter;
              color: $fontGray;
              font-weight: bold;
              font-size: 1.2rem;
              margin: 0 5px;

              &:first-child {
                // margin-left: 10px;
              }

              &:nth-child(1) {
                width: 11%;
              }
              &:nth-child(2),
              &:nth-child(6) {
                width: 15%;
              }
              &:nth-child(3) {
                width: 4%;
              }
              &:nth-child(4) {
                width: 10%;
              }
              &:nth-child(5) {
                width: 7%;
              }
              &:nth-child(8) {
                width: 8%;
              }
              &:nth-child(6),
              &:nth-child(7) {
                width: 6%;
              }
              &:nth-child(9),
              &:nth-child(10),
              &:nth-child(11),
              &:nth-child(12) {
                width: 4%;
              }
            }
          }
        }

        #tableContainer {
          box-shadow: -10px -10px 15px $mainBackground,
            10px 10px 15px $shadowGray1, inset 6px 6px 9px $shadowGray1,
            inset -6px -6px 9px $shadowWhite;
          margin-top: 30px;

          #playersTable {
            width: 100%;
            height: 100%;
            margin: auto 0;

            //   border-radius: 20px;
            tbody {
              height: 25px;
              display: block;
              &:first-child {
                margin-top: 10px;
              }
            }

            tr {
              width: auto;
              // height: 25px;
              display: block;
              border-radius: 20px;
              margin: 0 10px;
              animation: elementFloatDown 1s ease backwards
                calc(var(--index) * 0.055s);
              @include flexStartCenter;

              td {
                padding-left: 10px;
                margin: 10px 5px;

                // &:last-child {
                //   cursor: pointer;
                // }
              }

              .delete {
                cursor: pointer;
              }
            }
            .green {
              // background-color: $mainGreen;
              box-shadow: 2px 2px 2px $shadowGray1;
              background: linear-gradient(150deg, $mainGreen, $lighterGreen);
              color: $fontWhite;
              height: 100%;
            }

            .white {
              // background-color: $mainBackground;
              background-color: transparent;
              color: $fontGray;
              height: 100%;
            }
          }
        }
      }
    }
  }

  #playerAddition {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(1.5px);
    background-color: rgba(125, 125, 125, 0.5);
    @include flexCenter;
    transition: all 0.5s ease-in-out;

    #closeButton {
      position: relative;
      top: -44%;
      left: 93%;
      width: 22.5px;
      height: 3px;
      background: transparent;
      cursor: pointer;
      border: none;
      outline: none;

      &::before,
      &::after {
        content: '';
        display: block;
        border-radius: 20px;
        width: inherit;
        height: inherit;
        background-color: $fontGray;
      }
      &::after {
        // transform: rotate(-45deg) translate(1px, -5px);
        transform: rotate(-45deg) translate(1.3px, -2.5px);
      }
      &::before {
        // transform: rotate(45deg) translate(-2px, 1px);
        transform: rotate(45deg);
      }
    }

    #addingWindow {
      width: 40%;
      height: 60%;
      background-color: $mainBackground;
      border-radius: 20px;
      box-shadow: 0 0 25px 5px $shadowGray3;
      transition: all 0.5s ease-in-out;
      @include flexCenter;

      form {
        @include flexEvenly;
        width: 100%;
        height: 100%;

        #playerInputData {
          width: 50%;
          height: 100%;
          @include flexColumnBetween;
          padding: 50px 0;

          input {
            border: none;
            outline: none;
            background: $mainBackground;
            color: $fontGray;
            border-radius: 20px;
            box-shadow: inset 8px 8px 8px $shadowGray1,
              inset -8px -8px 8px $shadowWhite;
            padding-left: 10px;
            height: 30px;
            width: 200px;
            animation: elementFloatDown 0.5s ease backwards 0.5s;

            &[type='date'] {
              font-family: 'Poppins';
              color: $fontGray;
              cursor: pointer;
            }
          }

          select {
            width: 200px;
            height: 30px;
            background-color: $mainBackground;
            border: none;
            outline: none;
            border-radius: 20px;
            box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
            padding-left: 10px;
            color: $fontGray;
            text-align: center;
            animation: elementFloatDown 0.5s ease backwards 0.5s;
          }
        }

        #playerSelectData {
          width: 50%;
          height: 100%;
          @include flexColumnBetween;
          padding: 50px 0;

          select {
            width: 200px;
            height: 30px;
            background-color: $mainBackground;
            border: none;
            outline: none;
            border-radius: 20px;
            box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
            padding-left: 10px;
            color: $fontGray;
            text-align: center;
            margin-right: 15px;
            animation: elementFloatDown 0.5s ease backwards 0.5s;
          }

          #selectionContainer {
            width: 200px;
            height: 30px;
            @include flexBetween;
            margin-right: 15px;

            select {
              width: 90px;
              height: 30px;
              margin: auto 0;
            }
          }

          button {
            width: 150px;
            height: 30px;
            border: none;
            outline: none;
            background: linear-gradient(90deg, $mainGreen, $lightestGreen);
            border-radius: 20px;
            color: $fontWhite;
            cursor: pointer;
            transition: all 0.5s ease;
            font-weight: 700;

            box-shadow: 5px 5px 7px $shadowGray1, -5px -5px 7px $shadowWhite;
            animation: elementFloatDown 0.5s ease backwards 0.5s;

            &:hover {
              filter: brightness(1.3);
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

.hidden {
  display: none !important;
  transition: all 0.5s ease-in-out;
}

.showUpAnimation {
  animation: addPlayerAnimation 0.5s ease-in-out;
}

.floatDownAnimation {
  animation: elementFloatDown 1s ease-in-out
    calc(0.1s * attr(data-animation-delay number 1));
}

@media only screen and (max-width: 768px) {
  body > *:not(#incompatible) {
    display: none;
  }

  #incompatible {
    @include flexColumnEvenly;
  }
}
