@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  font-size: 62.5%;
  font-family: 'Poppins';
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@-webkit-keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes addPlayerAnimation {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
  }
}

@keyframes addPlayerAnimation {
  0% {
    opacity: 0;
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    -webkit-backdrop-filter: blur(1.5px);
            backdrop-filter: blur(1.5px);
  }
}

@-webkit-keyframes elementFloatDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes elementFloatDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes elementFloatLeft {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes elementFloatLeft {
  0% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes elementFloatRight {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes elementFloatRight {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes blinking {
  0% {
    color: #fb6161;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    color: #fb6161;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes blinking {
  0% {
    color: #fb6161;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    color: #fb6161;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@-webkit-keyframes startAnimation {
  0% {
    color: #9eed82;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: #9eed82;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #9eed82;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes startAnimation {
  0% {
    color: #9eed82;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    color: #9eed82;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #9eed82;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes showUpMorph {
  0% {
    -webkit-box-shadow: 13px 13px 20px #cbced100, -13px -13px 20px #ffffff00;
            box-shadow: 13px 13px 20px #cbced100, -13px -13px 20px #ffffff00;
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showUpMorph {
  0% {
    -webkit-box-shadow: 13px 13px 20px #cbced100, -13px -13px 20px #ffffff00;
            box-shadow: 13px 13px 20px #cbced100, -13px -13px 20px #ffffff00;
    opacity: 0;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#incompatible {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#1e381e), to(#447e44));
  background: linear-gradient(90deg, #1e381e, #447e44);
  padding: 3rem 1rem;
  display: none;
}

#incompatible h1 {
  color: #fff;
  font-size: clamp(1.8rem, 7vw, 4rem);
  text-align: center;
  margin-bottom: 5rem;
}

#incompatible h2 {
  color: #ecf0f3;
  font-size: clamp(0.9rem, 4vw, 2rem);
  text-align: center;
}

body {
  background-color: #ecf0f3;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px 0 20px;
}

body header img {
  width: 50px;
  height: 50px;
  margin: auto 0;
}

body header .menuHamburger {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ecf0f3;
  padding: 6px 3px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
}

body header .menuHamburger:active {
  -webkit-box-shadow: 0 0 2px #ecf0f3, 0 0 2px #cbced1, inset 6px 6px 9px #cbced1, inset -6px -6px 9px #fff;
          box-shadow: 0 0 2px #ecf0f3, 0 0 2px #cbced1, inset 6px 6px 9px #cbced1, inset -6px -6px 9px #fff;
}

body header .menuHamburger .line {
  width: 80%;
  height: 15%;
  background-color: #5f5f5f;
  border-radius: 2px;
}

body main {
  width: 80vw;
  height: 95vh;
  position: absolute;
  top: 3vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

body main #table {
  width: 100%;
  height: 100%;
}

body main #table #searchFunctions {
  width: 100%;
  height: 5%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main #table #searchFunctions #searchBar {
  width: 70%;
  height: 100%;
  background-color: #ecf0f3;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
  padding-left: 10px;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-animation: showUp 1s ease;
          animation: showUp 1s ease;
}

body main #table #searchFunctions #searchBar svg {
  width: 20px;
  height: 20px;
  margin: auto 0;
  fill: #555;
  -webkit-animation: showUp 1s ease;
          animation: showUp 1s ease;
}

body main #table #searchFunctions #searchBar input {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 10px;
  color: #555;
}

body main #table #searchFunctions select {
  width: 40%;
  height: 100%;
  background-color: #ecf0f3;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
  padding-left: 10px;
  color: #555;
  text-align: center;
  margin-right: 15px;
  -webkit-animation: showUp 1s ease;
          animation: showUp 1s ease;
}

body main #table #searchFunctions select:last-of-type {
  width: 15%;
}

body main #table #searchFunctions select option {
  background-color: #ecf0f3;
  outline: none;
  border: none;
  border-radius: 0 0 20px 20px;
}

body main #table #searchFunctions button {
  width: 20%;
  height: 100%;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#1e381e), to(#447e44));
  background: linear-gradient(90deg, #1e381e, #447e44);
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 700;
  font-size: clamp(0.7rem, 1vw, 1.3rem);
  -webkit-animation: showUp 1s ease;
          animation: showUp 1s ease;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
}

body main #table #searchFunctions button:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body main #table #filtersContainer {
  width: 100%;
  height: 5%;
  margin-bottom: 20px;
}

body main #table #filtersContainer #filter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #table #filtersContainer #filter .filterButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
  font-size: clamp(0.7rem, 1vw, 1.3rem);
  font-weight: 700;
  margin: 0 auto;
  width: 15%;
  height: 100%;
  background-color: #ecf0f3;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
  cursor: pointer;
  -webkit-animation: showUp 1s ease backwards 0.5s;
          animation: showUp 1s ease backwards 0.5s;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body main #table #filtersContainer #filter .filterButton:active {
  -webkit-box-shadow: 0 0 2px #ecf0f3, 0 0 2px #cbced1, inset 6px 6px 9px #cbced1, inset -6px -6px 9px #fff;
          box-shadow: 0 0 2px #ecf0f3, 0 0 2px #cbced1, inset 6px 6px 9px #cbced1, inset -6px -6px 9px #fff;
}

body main #table #filtersContainer #filter .filterButton:first-child {
  margin-left: 0;
}

body main #table #filtersContainer #filter .filterButton:last-child {
  margin-right: 0;
}

body main #table #filtersContainer #filter .filterButton .down {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: width, height 0.2s ease-out;
  transition: width, height 0.2s ease-out;
}

body main #table #filtersContainer #filter .filterButton .up {
  display: block;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #555;
  border-right: 2px solid #555;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body main #table #filtersContainer #filter .filterButton .none {
  width: 15px;
  height: 2px;
  background: transparent;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

body main #table #filtersContainer #filter .filterButton .none::before, body main #table #filtersContainer #filter .filterButton .none::after {
  content: '';
  display: block;
  border-radius: 20px;
  width: inherit;
  height: inherit;
  background-color: #555;
}

body main #table #filtersContainer #filter .filterButton .none::after {
  -webkit-transform: rotate(-45deg) translate(0px, -2.5px);
          transform: rotate(-45deg) translate(0px, -2.5px);
}

body main #table #filtersContainer #filter .filterButton .none::before {
  -webkit-transform: rotate(45deg) translate(-1px, 1px);
          transform: rotate(45deg) translate(-1px, 1px);
}

body main #table #tableMainContainer {
  width: 100%;
  height: 82%;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #fff;
          box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #fff;
  overflow: auto;
  border-radius: 20px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-animation: elementFloatDown 1s ease backwards;
          animation: elementFloatDown 1s ease backwards;
}

body main #table #tableMainContainer::-webkit-scrollbar {
  display: none;
}

body main #table #tableMainContainer #legendContainer {
  width: 100%;
  height: 5%;
  background-color: #ecf0f3;
  -webkit-box-shadow: 0 9px 10px -4px #a7aaaf;
          box-shadow: 0 9px 10px -4px #a7aaaf;
  border-radius: 20px 20px 0 0;
  position: fixed;
  overflow: hidden;
}

body main #table #tableMainContainer #legendContainer #legend {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10px;
}

body main #table #tableMainContainer #legendContainer #legend div {
  padding-left: 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #555;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 5px;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(1) {
  width: 11%;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(2), body main #table #tableMainContainer #legendContainer #legend div:nth-child(6) {
  width: 15%;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(3) {
  width: 4%;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(4) {
  width: 10%;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(5) {
  width: 7%;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(8) {
  width: 8%;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(6), body main #table #tableMainContainer #legendContainer #legend div:nth-child(7) {
  width: 6%;
}

body main #table #tableMainContainer #legendContainer #legend div:nth-child(9), body main #table #tableMainContainer #legendContainer #legend div:nth-child(10), body main #table #tableMainContainer #legendContainer #legend div:nth-child(11), body main #table #tableMainContainer #legendContainer #legend div:nth-child(12) {
  width: 4%;
}

body main #table #tableMainContainer #tableContainer {
  margin-top: 30px;
}

body main #table #tableMainContainer #tableContainer #playersTable {
  width: 100%;
  margin: auto 0;
}

body main #table #tableMainContainer #tableContainer #playersTable tbody {
  display: block;
  font-size: 1.3rem;
}

body main #table #tableMainContainer #tableContainer #playersTable tbody:first-child {
  margin-top: 2%;
}

body main #table #tableMainContainer #tableContainer #playersTable tr {
  width: auto;
  height: 40px;
  display: block;
  border-radius: 20px;
  margin: 0 10px;
  -webkit-animation: elementFloatDown 1s ease backwards calc(var(--index) * 0.055s);
          animation: elementFloatDown 1s ease backwards calc(var(--index) * 0.055s);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #table #tableMainContainer #tableContainer #playersTable tr td {
  padding-left: 10px;
  margin: 10px 5px;
}

body main #table #tableMainContainer #tableContainer #playersTable tr td:nth-of-type(1), body main #table #tableMainContainer #tableContainer #playersTable tr td:nth-of-type(2) {
  font-size: 1.5rem;
}

body main #table #tableMainContainer #tableContainer #playersTable tr .delete {
  pointer-events: auto;
  cursor: pointer;
  text-align: center;
}

body main #table #tableMainContainer #tableContainer #playersTable .green {
  -webkit-box-shadow: 2px 2px 2px #cbced1;
          box-shadow: 2px 2px 2px #cbced1;
  background: linear-gradient(150deg, #1e381e, #345f34);
  color: #fff;
}

body main #table #tableMainContainer #tableContainer #playersTable .white {
  background-color: transparent;
  color: #555;
}

body #playerAddition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  background-color: rgba(125, 125, 125, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body #playerAddition #closeButton {
  position: relative;
  top: -44%;
  left: 93%;
  width: 22.5px;
  height: 3px;
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

body #playerAddition #closeButton::before, body #playerAddition #closeButton::after {
  content: '';
  display: block;
  border-radius: 20px;
  width: inherit;
  height: inherit;
  background-color: #555;
}

body #playerAddition #closeButton::after {
  -webkit-transform: rotate(-45deg) translate(1.3px, -2.5px);
          transform: rotate(-45deg) translate(1.3px, -2.5px);
}

body #playerAddition #closeButton::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body #playerAddition #addingWindow {
  width: 40%;
  height: 60%;
  background-color: #ecf0f3;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 25px 5px #5f5f5f;
          box-shadow: 0 0 25px 5px #5f5f5f;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #playerAddition #addingWindow form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

body #playerAddition #addingWindow form #playerInputData {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

body #playerAddition #addingWindow form #playerInputData input {
  border: none;
  outline: none;
  background: #ecf0f3;
  color: #555;
  border-radius: 20px;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  padding-left: 10px;
  height: 30px;
  width: 200px;
  -webkit-animation: elementFloatDown 0.5s ease backwards 0.5s;
          animation: elementFloatDown 0.5s ease backwards 0.5s;
}

body #playerAddition #addingWindow form #playerInputData input[type='date'] {
  font-family: 'Poppins';
  color: #555;
  cursor: pointer;
}

body #playerAddition #addingWindow form #playerInputData select {
  width: 200px;
  height: 30px;
  background-color: #ecf0f3;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
  padding-left: 10px;
  color: #555;
  text-align: center;
  -webkit-animation: elementFloatDown 0.5s ease backwards 0.5s;
          animation: elementFloatDown 0.5s ease backwards 0.5s;
}

body #playerAddition #addingWindow form #playerSelectData {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

body #playerAddition #addingWindow form #playerSelectData select {
  width: 200px;
  height: 30px;
  background-color: #ecf0f3;
  border: none;
  outline: none;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
  padding-left: 10px;
  color: #555;
  text-align: center;
  margin-right: 15px;
  -webkit-animation: elementFloatDown 0.5s ease backwards 0.5s;
          animation: elementFloatDown 0.5s ease backwards 0.5s;
}

body #playerAddition #addingWindow form #playerSelectData #selectionContainer {
  width: 200px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

body #playerAddition #addingWindow form #playerSelectData #selectionContainer select {
  width: 90px;
  height: 30px;
  margin: auto 0;
}

body #playerAddition #addingWindow form #playerSelectData button {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, from(#1e381e), to(#447e44));
  background: linear-gradient(90deg, #1e381e, #447e44);
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: 700;
  -webkit-box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
          box-shadow: 5px 5px 7px #cbced1, -5px -5px 7px #fff;
  -webkit-animation: elementFloatDown 0.5s ease backwards 0.5s;
          animation: elementFloatDown 0.5s ease backwards 0.5s;
}

body #playerAddition #addingWindow form #playerSelectData button:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hidden {
  display: none !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.showUpAnimation {
  -webkit-animation: addPlayerAnimation 0.5s ease-in-out;
          animation: addPlayerAnimation 0.5s ease-in-out;
}

.floatDownAnimation {
  -webkit-animation: elementFloatDown 1s ease-in-out calc(0.1s * attr(data-animation-delay number 1));
          animation: elementFloatDown 1s ease-in-out calc(0.1s * attr(data-animation-delay number 1));
}

@media only screen and (max-width: 768px) {
  body > *:not(#incompatible) {
    display: none;
  }
  #incompatible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=playersTable.css.map */